@font-face {
  font-family: "Santoshi";
  src: url("../font/Satoshi-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../font/ClashDisplay-Regular.woff2") format("woff2");
}
