body {
  font-family: "Santoshi", sans-serif;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  &__header {
    max-width: 136.8rem;
    margin: 0 auto;

    @include laptop-m {
      max-width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

// какой то костыль
.main-title {
  font-family: "ClashDisplay", sans-serif;
  font-size: 2.4rem;
  color: var(--dark-primary);
  font-weight: 400;
  margin-bottom: 5.1rem;
}

@include desktop {
  section {
    padding: 0 5px;
  }
}
