:root {
  --dark-primary: #2a254b;
  --primary: #4e4d93;
  --primary-bl: #4a4566;
  --light-grey: #f9f9f9;
  --border-grey: #ebe8f4;
  --white: #fff;
  --border-dark: #cac6da;
  --font-color: #726e8d;
  --f-size: 1.4rem;
  --f-size: 1.6rem;
}
