.header{

   
    .&__auth {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        svg:nth-child(2) {
            margin-right: 20px;
        }
    }
}

.about {
    .container {
    display: flex;
    flex-direction: row;
}
}

section {
    .about:nth-child(even) {
        flex-direction: row-reverse;
    }
}