:root {
  --dark-primary: #2a254b;
  --primary: #4e4d93;
  --primary-bl: #4a4566;
  --light-grey: #f9f9f9;
  --border-grey: #ebe8f4;
  --white: #fff;
  --border-dark: #cac6da;
  --font-color: #726e8d;
  --f-size: 1.4rem;
}

@font-face {
  font-family: "Santoshi";
  src: url("../font/Satoshi-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../font/ClashDisplay-Regular.woff2") format("woff2");
}

body {
  font-family: "Santoshi", sans-serif;
}

main {
  /* padding: 12.9rem 0; */
}

/* общие элементы */

.container__header {
  max-width: 136.8rem;
  margin: 0 auto;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container__header {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 540px) {
  .container--padding-zero {
    padding: 0;
  }
}

.main-title {
  font-family: "ClashDisplay", sans-serif;
  font-size: 2.4rem;
  color: var(--dark-primary);
  font-weight: 400;
  margin-bottom: 5.1rem;
}

/* кнопки */

.btn {
  text-decoration: none;
  border: none;
  background-color: transparent;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  color: var(--dark-primary);
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn--white {
  background-color: var(--light-grey);
}

.btn--white:hover {
  background-color: var(--font-color);
  color: var(--white);
}

.btn--black {
  color: var(--white);
  background-color: var(--dark-primary);
}

.btn--black:hover {
  background-color: var(--primary);
}

@media (hover: none) {
  .btn--black:hover {
    background-color: var(--primary);
  }
}

.btn--grey {
  background-color: var(--primary-bl);
  color: var(--white);
}

.btn--grey:hover {
  background-color: var(--font-color);
}

@media (hover: none) {
  .btn--grey:hover {
    background-color: var(--font-color);
  }
}

@media (max-width: 1280px) {
  .btn {
    white-space: nowrap;
  }
}

@media (max-width: 540px) {
  .btn {
    width: 100%;
    text-align: center;
  }
}

/* хедер */

header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1000;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 0.1rem solid var(--font-color);
}

.header__logo {
  cursor: pointer;
}

.header__auth svg:first-child {
  margin-right: 2rem;
}

.header__bottom {
  padding: 2rem 0;
}

.header__nav-bar {
  display: flex;
  justify-content: center;
}

.header__nav-item {
  margin-right: 4.4rem;
}

.header__nav-item a {
  color: var(--font-color);
}

.header__burger-wrapper {
  display: none;
}

@media (max-width: 768px) {
  .header__nav-item {
    margin-right: 2rem;
  }
}

@media (max-width: 540px) {
  .header__top {
    display: none;
  }

  .header__nav-bar {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: flex-end;
    margin-top: 2.4rem;
  }

  .active {
    display: flex;
  }

  .header__nav-bar li {
    margin: 0;
  }

  .header__nav-bar li a {
    padding: 0.5rem 2rem;
    transition: 0.2s ease-in-out;
    display: block;
  }

  .header__nav-bar li a:hover {
    background-color: var(--font-color);
    color: var(--white);
  }

  .header__burger-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__bottom-search {
    margin-right: 2.2rem;
  }

  .header__group {
    display: flex;
    align-items: center;
  }

  .header__line {
    width: 1.2rem;
    height: 0.1rem;
    margin-bottom: 0.2rem;
    background-color: var(--dark-primary);
  }

  .header__burger {
    cursor: pointer;
  }
}

/* Баннер */

.banner {
  display: flex;
  color: var(--white);
  padding: 6rem 0;
}

.banner__info {
  background-color: var(--dark-primary);
  padding: 6rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner__image img {
  max-width: 52rem;
  object-fit: cover;
  height: 100%;
}

.banner__title {
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 140%;
  font-family: "ClashDisplay", sans-serif;
  margin-bottom: 4.1rem;
}
.banner__description {
  font-size: 2.4rem;
  line-height: 150%;
}

@media (max-width: 1280px) {
  .banner__link {
    padding: 2rem 0;
  }

  .banner__image {
    width: 100%;
  }

  .banner__image img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .banner__image {
    display: none;
  }
}

@media (max-width: 540px) {
  .banner {
    padding: 0;
    padding-bottom: 2rem;
  }

  .banner__info {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .banner__title {
    font-size: 2.6rem;
    margin-bottom: 8rem;
  }

  .banner__link--none {
    display: none;
  }

  .banner__description {
    font-size: 1.4rem;
  }
}

@media (min-width: 540px) {
  .banner__link--desctop-none {
    display: none;
  }
}

/* рабочий процесс */

.workflow {
  padding: 6rem 0 8.6rem 0;
}

.workflow__group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.workflow__title {
  text-align: center;
}

.workflow__item {
  max-width: 27rem;
}

.workflow__subtitle {
  font-family: "ClashDisplay", sans-serif;
  font-size: 2rem;
  color: var(--dark-primary);
  font-weight: 400;
  margin-top: 1.6rem;
}

.workflow__text {
  font-family: "ClashDisplay", sans-serif;
  font-size: 1.6rem;
  color: var(--dark-primary);
  margin-top: 0.8rem;
}

@media (max-width: 768px) {
  .workflow__group {
    column-gap: 2rem;
  }
  .workflow__subtitle {
    font-size: 1.6rem;
  }

  .workflow__text {
    font-size: 1.4rem;
  }
}

@media (max-width: 540px) {
  .workflow {
    padding: 2rem 0;
  }

  .workflow__title {
    margin-bottom: 2.2rem;
    font-size: 2.2rem;
  }
  .workflow__group {
    grid-template-columns: 1fr;
    column-gap: 1rem;
    justify-items: center;
    row-gap: 2rem;
  }

  .workflow__icon {
    display: flex;
    justify-content: center;
  }

  .workflow__subtitle {
    text-align: center;
  }

  .workflow__text {
    text-align: center;
  }
}

/* Карточки */

.cards {
  padding: 8rem 0 5.6rem 0;
}

.cards__title {
  margin-bottom: 3.3rem;
  display: inline-flex;
}

.cards__group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.cards__element {
  transition: 0.2s ease-in-out;
}

.cards__element:hover {
  transform: scale(1.04);
}

.cards__element img {
  max-width: 30.5rem;
  object-fit: cover;
  max-height: 37.5rem;
}

.cards__name {
  font-family: "ClashDisplay", sans-serif;
  font-size: 2rem;
  color: var(--dark-primary);
  margin-top: 2.4rem;
}

.cards__text {
  font-family: "ClashDisplay", sans-serif;
  font-size: 1.8rem;
  color: var(--dark-primary);
  margin-top: 0.8rem;
}

.cards__link {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
}

.cards__elemet--medium {
  grid-column: span 2 / span 2;
}

.cards__elemet--medium img {
  max-width: 63rem;
}

@media (max-width: 1280px) {
  .cards__element img {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .cards__group {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .cards__name {
    font-size: 1.6rem;
  }

  .cards__text {
    font-size: 1.4rem;
  }

  .cards__name {
    margin-top: 1rem;
  }

  .cards__element img {
    height: 80%;
  }

  .cards {
    padding: 2rem 0;
  }
}

/* Форма обратной связи */

.feedback-wrapper {
  background-color: var(--light-grey);
  padding: 6.5rem;
}
.feedback {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.8rem 0 5.4rem 0;
}

.feedback__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__title {
  font-family: "ClashDisplay", sans-serif;
  font-size: 3.6rem;
  color: var(--dark-primary);
  text-align: center;
  margin-bottom: 1.6rem;
}
.feedback__description {
  font-family: "Santoshi", sans-serif;
  color: var(--dark-primary);
  font-size: 1.6rem;
  max-width: 47rem;
  text-align: center;
  margin-bottom: 7.2rem;
}

.feedback__form {
  display: flex;
}

.feedback__input {
  font-family: "Santoshi", sans-serif;
  font-size: 1.6rem;
  height: 5rem;
  padding: 1.7rem 0 1.7rem 3.2rem;
}

.feedback__input--white {
  background-color: var(--light-grey);
  color: var(--dark-primary);
}

@media (max-width: 540px) {
  .feedback-wrapper {
    padding: 2rem;
  }

  .feedback {
    padding: 3rem 2rem;
  }

  .feedback__form {
    flex-direction: column;
    width: 100%;
  }

  .feedback__input {
    margin-bottom: 2rem;
  }

  .feedback__title {
    font-size: 2.6rem;
  }

  .feedback__description {
    font-size: 1.5rem;
    margin-bottom: 3.6rem;
  }
}

/*Описание*/

.about {
  display: flex;
  justify-content: space-between;
}

.about__left {
  max-width: 53.6rem;
}

.about__title {
  font-family: "ClashDisplay", sans-serif;
  font-size: 2.4rem;
  color: var(--dark-primary);
  padding-top: 7.2rem;
}

.about__description {
  font-family: "Santoshi", sans-serif;
  font-size: 1.6rem;
  color: var(--font-color);
  margin-top: 2.5rem;
}

.about__right img {
  width: 100%;
}

@media (max-width: 1280px) {
  .about__right img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__right {
    width: 70%;
    margin-top: 3rem;
  }
}

@media (max-width: 540px) {
  .about .container {
    padding-bottom: 2rem;
  }

  .about__title {
    font-size: 2.2rem;
    padding-top: 3.6rem;
  }

  .about__description {
    font-size: 1.4rem;
  }
}

/*Футер*/

footer {
  background-color: var(--dark-primary);
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.8rem 0 4.8rem 0;
}

.footer__navigation {
  display: flex;
}

.footer__nav-item {
  margin-right: 10.9rem;
}

.footer__nav-item li {
  margin-bottom: 1.2rem;
}

.footer__nav-item li a {
  font-family: "Santoshi", sans-serif;
  color: var(--white);
  font-size: 1.4rem;
}

.footer__nav-item li:first-child a {
  font-size: 1.6rem;
}

.footer__nav-item li:last-child {
  margin: 0;
}

.feedback__input--dark {
  background-color: var(--primary-bl);
  color: var(--white);
  width: 50.9rem;
}

.feedback__input--dark::placeholder {
  color: var(--white);
}

.footer__bottom {
  padding: 2.5rem 0 2.4rem 0;
  border-top: 1px solid var(--primary);
}

.footer__coopyright {
  color: var(--white);
  font-size: var(--f-size);
}

@media (max-width: 1280px) {
  .feedback__input--dark {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer__nav-item {
    margin-right: 5.9rem;
  }

  .footer__nav-item:last-child {
    margin: 0;
  }
}

@media (max-width: 540px) {
  .footer__top {
    flex-direction: column;
  }

  .footer__navigation {
    margin-bottom: 2rem;
  }
}
