.workflow {
  padding: 6rem 0 8.6rem 0;

  .workflow__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include laptop-s {
      column-gap: 2rem;
    }

    @include tablet-s {
      column-gap: 2rem;
    }

    @include mobile-l {
      padding: 2rem 0;
    }

    @include mobile-l {
      grid-template-columns: 1fr;
      column-gap: 1rem;
      justify-items: center;
      row-gap: 2rem;
    }

    .workflow__item {
      max-width: 27rem;

      .workflow__subtitle {
        font-family: "ClashDisplay", sans-serif;
        font-size: 2rem;
        color: var(--dark-primary);
        font-weight: 400;
        margin-top: 1.6rem;

        @include tablet-s {
          font-size: 1.6rem;
        }
      }

      .workflow__text {
        font-family: "ClashDisplay", sans-serif;
        font-size: 1.6rem;
        color: var(--dark-primary);
        margin-top: 0.8rem;

        @include tablet-s {
          font-size: 1.4rem;
        }
      }
    }

    @include mobile-l {
      .workflow__icon {
        display: flex;
        justify-content: center;
      }

      .workflow__subtitle {
        text-align: center;
      }

      .workflow__text {
        text-align: center;
      }
    }
  }
}

@include mobile-l {
  .workflow__title {
    margin-bottom: 2.2rem;
    font-size: 2.2rem;
    text-align: center;
  }
}
